/bcg_x_codesignal_prep/common/
/bcg_x_codesignal_prep/day_1_data_manipulation/
/bcg_x_codesignal_prep/day_2_eda_statistics_ml/
/bcg_x_codesignal_prep/day_3_full_assessment/
/bcg_x_codesignal_prep/interview/day_preparation/